<main class="container">
  <section class="section">
    <h1>Rev21</h1>
    <dialog #myDialog>
      <form method="dialog">
        <button
          [disabled]="game.active"
          (click)="startNewGame()"
          (click)="closeDialog()"
          class="btn btn-tertiary"
        >
          New Game
        </button>
      </form>
    </dialog>
  </section>
  <section class="section">
    <!-- Dealer's Hand:-->

    <app-cards [cards]="this.dealer.hand.cards"></app-cards>

    <!-- Player's Hand:-->
    <!-- Player's Score -->
    <div class="section--game__player-score">
      {{ this.player.hand.score }}
    </div>

    <!-- Player's Cards -->
    <div class="player-controls">
      <button class="btn btn-primary" (click)="handlePlayerHit()">Hit</button>
      <button class="btn btn-secondary" (click)="handlePlayerStand()">
        Stand
      </button>
    </div>
    <app-cards [cards]="this.player.hand.cards"></app-cards>
  </section>
</main>
