.container {
  // max-width: 1000px;
  width: min(100%, 1000px);
  margin-inline: auto;
  display: flex;
  border: 4px solid green;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 900px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.section {
  width: min(100%, 1000px);
  border: 2px solid red;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-controls {
  display: flex;
  gap: 0.5rem;
}
dialog {
  /* Initial State */
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.9); /* Slightly scaled down */
  transition: opacity 0.25s ease, transform 0.25s ease;

  /* Centering */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

dialog[open] {
  /* Target State when Open */
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); /* Scale back to normal */
}
